# Build artifacts
build/
Build/
Build/
bin/
*.o
*.obj
*.elf
*.uf2
*.bin
*.hex
*.map

# ESP-IDF specific
sdkconfig
sdkconfig.old

# IDEs and Tools
.vscode/
.idea/
.project
.settings/
.cproject
*.swp
*.swo
.venv/
.pytest_cache/
# Temporary files
*~
.DS_Store
